/* Override some defaults */
.container {
	width: 100%;
}
/* The white background content wrapper */
.content {
	background-color: #fff;
	//margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	//width: 1024px;
}
/* Page header tweaks */
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.button {
  margin-top: 8px;
  float: right;
}

.topbar .brand {
  margin-left: 10px;
}

.topbar .button {
	border: 0;
  margin-right: 10px;
}
.status {
	float: left
}
body {
  padding-top: 60px;
}

li {
  list-style: decimal;
  font-size: 12px;
}
#editor {
  position: relative;
  height: 100%;
  width: 100%;
}
.console {
  height: 200px;
  overflow: auto;
  background-color: #000;
}

.alert-message {
  margin-bottom: 0px
}

.minicolors {
  margin-top: 8px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container-fluid > .content{
  margin-left: 0;
}

.container-fluid {
  padding: 40px 0 234px;
}

.columns {
    background-color: #fff;
    height: 100%;
   
}
.code-area, .client-list-area{
    background: #eee;
    overflow:auto;
    height: 100%;
}

.footer {
  background: #ccc;
  height: 200px;
}