.topbar
  .fill
    .container
      a(class="brand", href="#") TiShadow
      //input#colorpicker.hide(data-default-value="#ffcc00", type="text", value=
                    "#ffb987")
.container
  .row
    .span9
      h3 Enter your Titanium Code
      .button
        input(type='submit', id="tisubmit", value="Send Code (⌘+S)", onClick="sentData()")
      div(id="editor")
    .span3
      h3 Devices
        ul.device_list
      h3 Users
        ul#user_list
  .row
    .span12
      h3 Console
      .console

