.topbar
  .fill
    .container
      a(class="brand", href="#") TiSnippet - A collaborative version of TiShadow

      .button
        input(type='submit', id="tisubmit", value="Send Code (⌘+S)", onClick="sentData()")

       .button
        input(type='submit', id="killapp", value="Kill App (⌘+K)", onClick="killApp()")     

.container-fluid.wrapper
  .row-fluid.columns.content
    .span9.code-area      
      div(id="editor")
    .span3.client-list-area
      h3 Connecte to this snippet
        input(type='text', id="hostname",class="input-medium", placeholder="Hostname", readonly) %3A
        input(type='text', id="port", class="input-mini", placeholder="Port", readonly)
        input(type='text', id="room", class="input-medium", placeholder="Room", readonly)
      h3 Devices
        ul.device_list
      h3 Users
        ul#user_list
  .footer
    h3 Console
      .button
        input(type='submit', id="clear_console", value="Clear", onClick="clearConsole()")
    .console


