!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')

    link(rel='stylesheet', href='/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/firepad.css')

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascript/jquery-1.4.2.min.js')
    //script(type='text/javascript', src='/javascript/ace.js')
    //script(type='text/javascript', src='/javascript/theme-twilight.js')
    //script(type='text/javascript', src='/javascript/mode-javascript.js')
    script(type='text/javascript', src='/javascript/main.js')
    //script(type='text/javascript', src='http://ajaxorg.github.com/ace/build/src/ace.js')
    //script(type='text/javascript', src='/javascript/bcsocket.js')
    //script(type='text/javascript', src='/javascript/share.js')

    script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
    script(type='text/javascript', src='/codemirror/lib/codemirror.js')
    script(type='text/javascript', src='/codemirror/mode/javascript/javascript.js')
    script(type='text/javascript', src='/javascript/firepad.js')
    script(type='text/javascript', src='/javascript/helpers.js')
    
  body!= body
